.indexing {
  padding: 0 25px !important;
}

.paddingZero {
  padding: 0;
}

.marginZero {
  margin: 0;
}

.colorWhite {
  color: white;
}

.textAlignCenter {
  text-align: center;
}

.whiteSpace-nowrap {
  white-space: nowrap;
}

.fullWidth {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
}
