.actionButton {
  /* margin-top: -70px; */
  /* display: block; */
  /* margin-left: 462px; */
  position: fixed;
  top: 90px;
  right: 23px;
}

.fullWidth {
  width: 100%;
  max-width: 100%;
}

.viewTable {
  white-space: nowrap;
  padding: 5px;
}
